.button {
  background-color: #fff;
  border: solid 1px gray;
  width: 50%;
  color: gray;
  padding: 16px 0;
}
.button:hover {
  background-color: #f8f2f2;
}

.button-green {
  background-color: #48b3af;
  color: white;
  font-size: 14px;
  padding: 16px 0;
  border-radius: 3px;
  cursor: pointer;
}

.button-red {
  background-color: #b71f3b;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 18px 35px;
  font-size: 18px;
}
.button-red:hover {
  background-color: #ea002b;
}

.hidden {
  display: none;
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #ea002b;
  width: 10px;
  height: 10px;
  padding: 12px;
  color: white;
  cursor: pointer;
}

/* ////////////////////////////////// */

.button-white {
  background-color: #fff;
  border: solid 1px black;
  color: black;
  cursor: pointer;
  padding: 16px 0;
}
.button-white:hover {
  background-color: #e6e6e6;
}

.button-border-red {
  background-color: #fff;
  border: solid 1px #b71f3b;
  color: #b71f3b;
  cursor: pointer;
  padding: 16px 0;
}
.button-border-red:hover {
  background-color: #ffdde3;
}

.button-border-green {
  background-color: #a9fca9;
  border: solid 1px #314e31;
  color: #314e31;
  cursor: pointer;
  padding: 16px 0;
}
.button-border-green:hover {
  background-color: #8fd58fd3;
}

.sm-hidden {
  display: none;
}
.sm-display {
  display: inline;
}
.md-hidden {
  display: inline;
}
.md-display {
  display: none;
}

@media (min-width: 640px) {
  .sm-hidden {
    display: flex;
  }
  .sm-display {
    display: none;
  }
}

@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  .md-display {
    display: inline;
  }
}
