
.header-left {
  flex-shrink: 0;
  justify-content: flex-start;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  justify-content: flex-end;
}



.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 180px;
  z-index: 1000;
  overflow: hidden;
  border: 1px solid #eee;
}

.dropdown-item {
  padding: 12px 18px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari */
}

.menu {
  display: none;
}

@media (min-width: 640px) {
  .menu  {
    display: flex;
  }
}