
.medium {
  font-size: 14px;
}
.normal {
  font-size: 16px;
}

.footer {
  position: relative;
  margin-top: 20vh;
  background-color: #000000;
  width: 100vw;
  height: 40vh;
  gap: 40px;
  color: #fafafa;

  display: flex;
  flex-direction: row;
  & .column {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  & .coppyright {
    color: #363738;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}